
<ol>
{{#each user as |u|}}
<img class="portrait" id="i22" src="/img/22.jpg" alt="i22"></img>
<h2 class="topics" id="name">{{name}}</h2>
<div class="chat_name_text">
<div id="Degree">Degree
    <div id="degree">{{degree}}</div>
</div>

<div id="Major">Major 
    <div id="major">{{major}}</div>
</div>
<div id="Area">Research Area
    <div id="area">{{research_area}}</div>
</div>
<div id="Topic">Research Topic
    <div id="topic">{{research_topic}}</div>
</div>
<div id="profile_Paper">Published Paper
    <ul  id="profile_paper">
        <li>{{published_paper}}</li>
    </ul>
</div>
</div>
<br>
<div id="edit_profile"><a href="/edit_profile">Edit My Profile</a></div>
<a href="/edit_profile"><i class="fa-regular fa-pen-to-square" style="position: absolute; top: 16%; left: 23%;"></i></a>
{{/each}}
</ol>
