 <li>
    {{#each scholars as |s|}}
    <div>Name: {{name}}</div>
    <div>Degree: {{degree}}</div>
    <div>Major: {{major}}</div>
    <div>Research Area: {{research_area}}</div>
    <div>Research Topic: {{research_topic}}</div>
    <div>Published Paper: {{published_paper}}</div>
    <br>
    {{/each}}
 </li>